.recipe {
  width: calc((100% / 4) - 10px);
  background-color: #e6e6e6;
  color: #000000;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  &--dark {
    background-color: #dddddd;
    box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.3);
  }

  &__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__control-btns {
    min-width: 40px;
    display: flex;
    gap: 5px;
  }

  // .recipe__img-wrapper
  &__img-wrapper {
    width: 100%;
    height: 250px;
  }

  // .recipe__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  // .recipe__title

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  // .recipe__raiting

  &__raiting {
    font-size: 14px;
  }

  // .recipe__tags-wrapper

  &__tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__mark {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: #fff;
    // cursor: not-allowed;
  }
}
